<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fetched Exercises</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gymexercises.css') }}">
</head>

<body>
  <video autoplay loop muted class="background-video">
    <source src="{{ url_for('static', filename='gym_media/David Goggins Dont Be A B.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div id="exercise-header"></div>
  <div id="exercise-list"></div>
  <script>
    // Function to extract parameters from URL
    function getUrlParams() {
      const urlParams = new URLSearchParams(window.location.search);
      const params = {};
      for (const [key, value] of urlParams) {
        params[key] = value.split(','); // Split comma-separated values
      }
      return params;
    }
    const url = window.location.href;
    const params = getUrlParams(url);
    // Function to fetch exercises from Flask app
    function fetchExercises() {

      fetch(`/fetch_exercises?equipment=${params['equipment']}&area=${params['area']}`)
        .then(response => response.json())
        .then(data => {
          // Process returned exercises and display them
          const exerciseHeader = document.getElementById('exercise-header');
          const exerciseList = document.getElementById('exercise-list');
          exerciseHeader.innerHTML = `<span style="font-size: larger">(3x10ea) ${params['area']} workout with ${params['equipment']}</span> <br> <br> <strong>[Name, Type, Area, Equipment, Fitness Level]</strong>`;
          exerciseList.innerHTML = ''; // Clear previous content
          data.exercises.forEach(exercise => {
            const exerciseItem = document.createElement('div');
            exerciseItem.textContent = exercise;
            exerciseList.appendChild(exerciseItem);
            exerciseList.appendChild(document.createElement('br'));
          });
        })
        .catch(error => {
          console.error('Error fetching exercises:', error);
        });
    }


    // Call fetchExercises when the page loads
    window.onload = fetchExercises;
  </script>

</body>

</html>